.social {
  ul {
    list-style: none;
    display: flex;
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    box-sizing: border-box;
    justify-content: space-around;
  }
}

// media queries over 425px
@media (min-width: 26rem) {
  .social {
    ul {
      padding: 0;
      width: 100%;
      max-width: 100%;
      justify-content: space-between;
    }
  }
}