.social {
  ul {
    list-style: none;
    display: flex;
    padding: 2rem;
    width: 100%;
    max-width: 40rem;
    box-sizing: border-box;
    justify-content: space-around;
  }

  .link-text {
    display: none;
  }
}
